$font-primary: "IBM Plex Sans", sans-serif;
$primary-color: #FF6636;
$primary5: #FF6636;

$secondary1: #EBEBFF;
$secondary2: #564FFD;

$secondary7: #342F98;
$gray1: #E9EAF0;
$gray2: #CED1D9;
$gray4: #A1A5B3;
$gray5: #8C94A3;
$gray6: #6E7485;
$gray50: #F5F7FA;
$gray7: #4E5566;
$gray8: #363B47;
$gray9: #1D2026;
$warning1: #FFF2E5;
$success7: #15711F;
$topbar-border: #E9EAF0;
$border: #E9EAF0;
$search-bg: #F0F3F6;
$gray-sec-2: #ABA7B2;

