svg(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_42_2348)")
    path(d="M13.7491 0C12.6828 0.0737496 11.4366 0.756246 10.7103 1.64499C10.0479 2.45124 9.50286 3.64873 9.71535 4.81247C10.8803 4.84872 12.0841 4.14998 12.7816 3.24623C13.4341 2.40499 13.9278 1.21499 13.7491 0Z", fill="black")
    path(d="M17.9629 6.71013C16.9392 5.42639 15.5004 4.6814 14.1417 4.6814C12.348 4.6814 11.5892 5.54014 10.343 5.54014C9.05798 5.54014 8.08174 4.6839 6.5305 4.6839C5.00676 4.6839 3.38427 5.61514 2.35552 7.20763C0.909281 9.45012 1.15678 13.6663 3.50052 17.2576C4.33926 18.5426 5.45925 19.9876 6.92425 20.0001C8.22799 20.0126 8.59549 19.1638 10.3617 19.1551C12.128 19.1451 12.463 20.0113 13.7642 19.9976C15.2304 19.9863 16.4117 18.3851 17.2504 17.1001C17.8517 16.1788 18.0754 15.7151 18.5417 14.6751C15.1504 13.3838 14.6067 8.56137 17.9629 6.71013Z", fill="black")
  defs
    clipPath#clip0_42_2348
      rect(width="20", height="20", fill="white")