@use "../../abstracts" as abs;

.checkout-main-heading {
    color: abs.$gray9;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
}

.checkout {
    &-title {
        color: abs.$gray9;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        margin-bottom: 4px;
    }
    &-content {
        display: flex;
        gap: 120px;
        justify-content: space-between;
        align-items: start;
    }
    &-input-block {
        display: flex;
        gap: 8px; 
        flex-direction: column;
        flex: 1;
        & label {
            color: abs.$gray9;
            line-height: 1.57;
        }
    }
}